<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="false" />
  </settings>

  <database>
    <provider name="sqlServer2.0" />
    <dataSource name="TestDatabase" connectionString="Data Source=DESKTOP-M09U397\SQLEXPRESS;Initial Catalog=TestDatabase;Integrated Security=True"/>
  </database>

  <sqlMaps>
    <sqlMap url="D:\Informatyka\GitHub\ASPNETapp2\Meals.xml" />
    <sqlMap url="D:\Informatyka\GitHub\ASPNETapp2\Tables.xml" />
  </sqlMaps>
</sqlMapConfig>