body {
    width: 100%;
    height: 100vh;
    margin: 0px;
}

h2 {
    text-align: center;
}

#greyRow{
    background-color:lightgrey;
    text-align:center;
}
#blueRow{
    background-color:deepskyblue;
    color:white;
    text-align:center;
}
#box > * {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap:wrap;
}

#mealQuantityButton{
    visibility:hidden;
}
#tableButton {
    visibility: hidden;
}
h4:first-of-type{
    text-align:center;
}
