body {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    margin: 0px;
}

h2 {
    text-align: center;
}

#grey-row{
    background-color: lightgrey;
    text-align: center;
}

#blue-row{
    background-color: deepskyblue;
    color: white;
    text-align: center;
}

#box > * {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

#meal-quantity-button{
    visibility: hidden;
}

#table-button {
    visibility: hidden;
}

h4:first-of-type{
    text-align: center;
}

#meals-table td{
    vertical-align: middle;
}

.meal-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}