@model ASPNETapp2.Models.Meal
@{
    ViewBag.Title = "Dodaj zamówienie";
}
<h2>@ViewBag.Title</h2>

<div id="orderForm">
    <label for="chosenMeal">Zamówienie dla stolika:</label>
    <select id="chosenTable" class="form-control">
        <option selected disabled hidden value="empty">-- Wybierz stolik --</option>
        <option value="1">Niebieski</option>
        <option value="2">Zielony</option>
        <option value="3">Czerwony</option>
        <option value="4">Żółty</option>
        <option value="5">Fioletowy</option>
        <option value="6">Pomarańczowy</option>
        <option value="7">Turkusowy</option>
    </select>
    <div id="orderItems">
        <div id="meal-quantity-button">
            <label for="chosenMeal">Danie:</label>
            <select class="form-control" id="selectMeal" name="chosenMeal">
                <option selected disabled hidden value="">-- Wybierz danie --</option>
                <option value="1">Roladki z cukinii z szynką</option>
                <option value="2">Kotlet schabowy z ziemniakami i mizerią</option>
                <option value="3">Szarlotka z jabłkami</option>
                <option value="4">Gofry pieczone w piekarniku</option>
                <option value="5">Tabbouleh sałatka arabska z kaszą bulgur</option>
                <option value="6">Kaszanka pieczona z kiszoną kapustą</option>
                <option value="7">Sałatka z zupek chińskich</option>
                <option value="8">Pasta z dyni do chleba</option>
            </select>
            <label for="quantity">Ilość:</label>
            <input class="form-control" id="quantity" type="number" name="quantity" min="1" required/>
            <input class="btn btn-primary" type="button" id="addMeal" value="Dodaj danie">
        </div>
        <div id="table-button">
            <table class="table" id="mealsList">
                <thead>
                    <tr id="head">
                        <th>Nazwa dania</th>
                        <th>Cena jednostkowa</th>
                        <th>Ilość</th>
                        <th>Cena pozycji</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <br />
            <input class="btn btn-primary" type="button" id="addOrder" value="Dodaj zamówienie" />
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/ordercreate");
