
@{
    ViewBag.Title = "Dodaj zamówienie";
}
<h2>@ViewBag.Title</h2>

<div id="orderForm">
    <label for="chosenMeal">Zamówienie dla stolika:</label>
    <select id="chosenTable" class="form-control">
        <option selected disabled hidden value="empty">-- Wybierz stolik --</option>
        <option id="stolik1" value="1">Niebieski</option>
        <option id="stolik2" value="2">Zielony</option>
        <option id="stolik3" value="3">Czerwony</option>
        <option id="stolik4" value="4">Żółty</option>
        <option id="stolik5" value="5">Fioletowy</option>
    </select>
    <div id="orderItems">
        <div id="mealQuantityButton">
            <label for="chosenMeal">Danie:</label>
            <select class="form-control" id="selectMeal" name="chosenMeal">
                <option selected disabled hidden value="">-- Wybierz danie --</option>
                <option value="1">Roladki z cukinii z szynką</option>
                <option value="2">Kotlet schabowy z ziemniakami i mizerią</option>
                <option value="3">Szarlotka z jabłkami</option>
                <option value="4">Gofry pieczone w piekarniku</option>
                <option value="5">Tabbouleh sałatka arabska z kaszą bulgur</option>
                <option value="6">Kaszanka pieczona z kiszoną kapustą</option>
                <option value="7">Sałatka z zupek chińskich</option>
                <option value="8">Pasta z dyni do chleba</option>
            </select>
            <label for="quantity">Ilość:</label>
            <input class="form-control" id="quantity" type="number" name="quantity" min="1" required/>
            <input class="btn btn-primary" type="button" id="addMeal" value="Dodaj danie">
        </div>
        <div id="tableButton">
            <table class="table" id="mealsList">
                <thead>
                    <tr id="head">
                        <th>Nazwa dania</th>
                        <th>Cena jednostkowa</th>
                        <th>Ilość</th>
                        <th>Cena pozycji</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <br />
            <input class="btn btn-primary" type="button" id="addOrder" value="Dodaj zamówienie" />
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#addMeal").click(function () {
            $("#tableButton").css('visibility', 'visible');
            var mealItemId = $('#selectMeal').val();
            var mealQuantity = $('#quantity').val();
            var mealItem = { MealItemId: mealItemId, MealQuantity: mealQuantity };
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(mealItem),
                url: "/Order/AddItem",
                dataType: "json",
                success: function (data) {
                    $("#quantity").val("");
                    var items = [];
                    $.each(data, function (key, val) {
                        items.push("<td>" + val + "</td>");
                    });
                    $("<tr/>", {
                        html: items.join("")
                    }).appendTo("tbody");
                },
                error: function () {
                    alert("Wystąpił błąd");
                }
            });
        });

        $("#addOrder").click(function () {
            var chosenTable = $("#chosenTable").val();
            var tableBodyObjects = $("tbody tr");
            var tableHeadNames = ["SentMealName", "SentUnitPrice", "SentQuantity"];
            var listOfOrderMeals = [];
            var lista = [];
            var temp = {};
            for (var i = 0; i < tableBodyObjects.length; i++){
                temp = {};
                lista = [];
                lista = tableBodyObjects[i].getElementsByTagName("td");
                for (var j = 0; j < lista.length - 1; j++){
                    if (j == 1) {
                        continue;
                    } else {
                        temp[tableHeadNames[j]] = lista[j].innerHTML;
                    }

                    }
                listOfOrderMeals[i] = temp;
            }
                
            var finalData = { SentOrderItems: listOfOrderMeals, SentTableNumber: chosenTable };
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(finalData),
                url: "/Order/CreateOrder",
                dataType: "json",
                success: function () {
                    alert("Dodano zamówienie");
                    location.href = "/Home/Index";
                },
                error: function () {
                    alert("Wystąpił błąd");
                }
            });          
        });

        $("#chosenTable").change(function () {
            $("#mealQuantityButton").css('visibility', 'visible');
        });
    });
</script>
