@model ASPNETapp2.Models.ListOfOrderItems
@{
    ViewBag.Title = "Edycja pozycji";
}
@{ 
   
}
<h2>Edycja pozycji</h2>
<form method="post" action="/Order/EditPosition">
    <label for="chosenMeal">Zmień danie:</label>
    <select class="form-control" id="replacedMeal" name="replacedMeal">
        @for (int i = 1; i <= Model.ItemsList.Count; i++)
        {
            <option value="@Model.ItemsList[i-1].Meal.MealName">@Model.ItemsList[i-1].Meal.MealName</option>
        }
    </select>
    <label for="chosenMeal">Wybierz nowe danie:</label>
    <select class="form-control" id="selectMeal" name="chosenMeal">
        <option value="Roladki z cukinii z szynką">Roladki z cukinii z szynką</option>
        <option value="Kotlet schabowy z ziemniakami i mizerią">Kotlet schabowy z ziemniakami i mizerią</option>
        <option value="Szarlotka z jabłkami">Szarlotka z jabłkami</option>
        <option value="Gofry pieczone w piekarniku">Gofry pieczone w piekarniku</option>
        <option value="Tabbouleh sałatka arabska z kaszą bulgur">Tabbouleh sałatka arabska z kaszą bulgur</option>
        <option value="Kaszanka pieczona z kiszoną kapustą">Kaszanka pieczona z kiszoną kapustą</option>
        <option value="Sałatka z zupek chińskich">Sałatka z zupek chińskich</option>
        <option value="Pasta z dyni do chleba">Pasta z dyni do chleba</option>
    </select>
    <label for="quantity">Wybierz nową ilość:</label>
    <input class="form-control" id="quantity" type="number" name="quantity" />
    <input type="submit" class="btn btn-primary" value="Edytuj" />
</form>
