@model ASPNETapp2.Models.ListOfMealsTables
@{
    ViewBag.Title = "Meals and Tables";
}
<form method="post" action="/MealAndTable/ChooseMealsOrTables" id="choose-meal-table">
    <div>
        <button value="1" type="submit" id="choose-meals" name="choice">Meals</button>
    </div>
    <div>
        <button value="2" type="submit" id="choose-tables" name="choice">Tables</button>
    </div>
</form>
@switch(TempData["choice"])
{
    case 1:
        Html.RenderPartial("_MealsPartial");
        break;
    case 2:
        Html.RenderPartial("_TablesPartial");
        break;
    default:
        break;
}