@{
    ViewBag.Title = "Add Order";
}
<h2>@ViewBag.Title.</h2>

<form id="chooseTable" method="post" action="/Home/DisplayOrders">
    <select id="chosenTable" name="chosenTable">
        <option selected disabled hidden value="">-- Wybierz stolik --</option>
        <option id="stolik1" value="1">Niebieskiego</option>
        <option id="stolik2" value="2">Zielonego</option>
        <option id="stolik3" value="3">Czerwonego</option>
        <option id="stolik4" value="4">Żółtego</option>
        <option id="stolik5" value="5">Fioletowego</option>
    </select>
    <input type="submit" value="Wyświetl zamówienia" />
</form>
