@using ASPNETapp2.Models;
@{
    ViewBag.Title = "Home Page";
    List<Meal> mealList = Session["mealList"] as List<Meal>;

}

<h2>
    @foreach (var meal in mealList)
    {
        @meal.MealName
    }
</h2>