@model ASPNETapp2.Models.Order
@{
    ViewBag.Title = "Zamówienia";

}
<h2>Lista zamówień</h2>
<br />
Zamówienia dla stolika:
<form id="chooseTable" method="post" action="/Home/DisplayOrders">
    <input type="submit" value="Wyświetl zamówienia" />
</form>
<br />

@if (Model.OrderId == 0 && Model.OrderList == null && Model.TableNumber == 0 && Model.TotalPrice == 0)
{
    <h4>Brak zamówień dla tego stolika</h4>
}
else
{
<table>
    <thead>
        <tr>
            <th>Nazwa dania</th>
            <th>Cena jednostkowa</th>
            <th>Ilość</th>
            <th>Cena całkowita</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var orderItem in Model.OrderList)
        {
            <tr>
                <td>@orderItem.Meal.MealName</td>
                <td>@orderItem.Meal.MealUnitPrice PLN</td>
                <td>@orderItem.Quantity</td>
                <td>@orderItem.ListPositionPrice PLN</td>
            </tr>
        }
    </tbody>
</table>
}
