@model ASPNETapp2.Models.Order
@{
    ViewBag.Title = "Zamówienia";

}
<h2>Lista zamówień</h2>
<br />
Zamówienia dla stolika:
<form id="chooseTable" method="post" action="/Home/DisplayOrders">
    <input type="submit" value="Wyświetl zamówienia" />
</form>
<br />
@{
    string emptyList = "Brak zamówień dla tego stolika";
}
@if (Model.OrderId == 0 && Model.OrderList == null && Model.TableNumber == 0 && Model.TotalPrice == 0)
{
    <p>@emptyList</p>
}
else
{
    <ol>
        @foreach (var orderItem in Model.OrderList)
        {
            <li>@orderItem.Meal.MealName</li>
        }
    </ol>
}
@Model.TableNumber